.titulo {
  background-color: red;
}
.carousel-item img {
  max-height: calc(100vh - 100px);
  width: auto;
  margin: 0 auto;
  display: block;
}
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}