.titulo {
  background-color: red;
}
.carousel-item img {
  max-height: 80vh;
  width: auto;
  margin: 0 auto;
  display: block;
}
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
}